<%- include ("partials/header") %> 

<div class="ui main text container segment">
    <div id="newHeader" class="ui huge header">
        <%= blog.title %>
    </div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" alt="pics">
        </div>
        <div class="content">
            <!-- TODO: adding .toDateSting formats the data to ex. Fri May 08 2020 -->
            <span><%= blog.created.toDateString() %></span>
        </div>
        <div class="description">
            <p><%= blog.body %></p>
        </div>
        <a class="ui orange basic button" href="/blogs/<%= blog._id %>>">Edit</a>
        <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
            <button class="ui red basic button">Delete</button>
        </form>
    </div>
</div>
<%- include ("partials/footer") %> 